Repository TeamAmaze/AmazeFileManager, pull requests merged in 2021-12, with the labels that each got.

#3052 Telegram workflow update
  .github/workflows/android-build.yml
  .github/workflows/android-main.yml
Labels: Area-CICD, PR-NoCodeChanges

#3028 Upgrade Robolectric to 4.7
  app/src/main/java/com/amaze/filemanager/filesystem/ssh/SshConnectionPool.kt
  app/src/main/java/com/amaze/filemanager/ui/fragments/TabFragment.java
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/ssh/PemToKeyPairTaskTest.java
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/ssh/PemToKeyPairTaskTest2.java
  app/src/test/java/com/amaze/filemanager/database/ExplorerDatabaseMigrationTest.java
  app/src/test/java/com/amaze/filemanager/filesystem/compressed/B0rkenZipTest.java
  app/src/test/java/com/amaze/filemanager/filesystem/files/FileListSorterTest.java
  app/src/test/java/com/amaze/filemanager/utils/AnimUtilsTest.java
  build.gradle
Labels: Issue-Task (low), Area-CICD, Area-CodeHealth, Area-Test

#3030 Lenient FTP server connectivity check and remove AP enabled check
  app/build.gradle
  app/src/main/java/com/amaze/filemanager/asynchronous/services/ftp/FtpService.kt
  app/src/main/java/com/amaze/filemanager/asynchronous/services/ftp/FtpTileService.java
  app/src/main/java/com/amaze/filemanager/ui/fragments/FtpServerFragment.kt
Labels: Issue-Bug, Area-FTP

#3074 Fix back button not responding when browsing at second level of archive
  app/src/main/java/com/amaze/filemanager/ui/fragments/CompressedExplorerFragment.kt
Labels: Issue-Bug, Area-UIUX, Area-Compression, Area-Navigation
