Repository TeamAmaze/AmazeFileManager, pull requests merged in 2021-03, with the labels that each got.

#2336 Remove bash statement causing security vulnerability in Github CI
  .github/workflows/android-debug-artifact-ondemand.yml
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/AbstractDeleteTaskTestBase.kt
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/SmbDeleteTaskTest.kt
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/SshDeleteTaskTest.kt
Labels: Area-CodeHealth, Issue-Bug

#2317 Use NtlmPasswordAuthenticator in place of NtlmPasswordAuthentication
  app/src/main/java/com/amaze/filemanager/utils/SmbUtil.java
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/AbstractDeleteTaskTestBase.kt
  app/src/test/java/com/amaze/filemanager/filesystem/AbstractOperationsTestBase.kt
  app/src/test/java/com/amaze/filemanager/filesystem/SmbOperationsTest.kt
  app/src/test/java/com/amaze/filemanager/filesystem/SshOperationsTest.kt
  app/src/test/java/com/amaze/filemanager/test/ShadowTabHandler.kt
  app/src/test/java/com/amaze/filemanager/utils/SmbUtilTest.java
Labels: Area-SMB, Issue-Bug

#2362 Fix tests compilation failures
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/compress/AbstractCompressedHelperTaskTest.kt
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/compress/Bzip2HelperTaskTest.kt
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/compress/EncryptedRarHelperTaskTest.kt
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/compress/EncryptedSevenZipHelperTaskTest.kt
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/compress/EncryptedZipHelperTaskTest.kt
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/compress/ListEncryptedSevenZipHelperTaskTest.kt
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/compress/LzmaHelperTaskTest.kt
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/compress/RarHelperTaskTest.kt
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/compress/SevenZipHelperTaskTest.kt
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/compress/SevenZipHelperTaskTest2.kt
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/compress/TarGzHelperTaskTest.kt
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/compress/TarHelperTaskTest.kt
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/compress/XzHelperTaskTest.kt
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/compress/XzHelperTaskTest2.kt
  app/src/test/java/com/amaze/filemanager/asynchronous/asynctasks/compress/ZipHelperTaskTest.kt
Labels: Area-CodeHealth, Area-Test, Issue-Bug

#2293 Make MainActivity:getCurrentMainFragment Nullable
  app/src/main/java/com/amaze/filemanager/filesystem/PasteHelper.java
  app/src/main/java/com/amaze/filemanager/ui/activities/MainActivity.java
  app/src/main/java/com/amaze/filemanager/ui/dialogs/GeneralDialogCreation.java
  app/src/main/java/com/amaze/filemanager/ui/dialogs/SftpConnectDialog.kt
  app/src/main/java/com/amaze/filemanager/ui/fragments/TabFragment.java
  app/src/main/java/com/amaze/filemanager/ui/views/appbar/BottomBar.java
  app/src/main/java/com/amaze/filemanager/ui/views/drawer/Drawer.java
Labels: Area-CodeHealth
