Repository TeamAmaze/AmazeFileManager, pull requests merged in 2022-04, with the labels that each got.

#3243 Fix incorrect reference to class in test
  app/src/test/java/com/amaze/filemanager/database/UtilsHandlerTest.kt
Labels: Issue-Bug, Issue-Severe (high), Area-CodeHealth, Area-Test

#3257 Modify regex to parse ls/stat output
  app/src/main/java/com/amaze/filemanager/filesystem/files/FileUtils.java
  app/src/test/java/com/amaze/filemanager/filesystem/root/ListFilesCommandTest.kt
  app/src/test/resources/rootCommands/ls-root.txt
  app/src/test/resources/rootCommands/stat-root.txt
Labels: Issue-Bug

#3271 Fixes NPEs
  app/src/main/java/com/amaze/filemanager/filesystem/PasteHelper.java
  app/src/main/java/com/amaze/filemanager/ui/activities/DatabaseViewerActivity.java
  app/src/main/java/com/amaze/filemanager/ui/activities/MainActivity.java
Labels: Crash-NullPointerException

#3273 Fix SSHConnectionPool with subdirectories in URI
  app/src/main/java/com/amaze/filemanager/filesystem/ssh/SshConnectionPool.kt
  app/src/test/java/com/amaze/filemanager/filesystem/ssh/SshConnectionPoolTest.java
  app/src/test/java/com/amaze/filemanager/filesystem/ssh/test/MockSshConnectionPools.kt
  app/src/test/java/com/amaze/filemanager/filesystem/ssh/test/TestUtils.java
Labels: Issue-Bug, Area-Ssh/Scp/Sftp

#3284 Fix Robolectric test failure
  app/src/androidTest/java/com/amaze/filemanager/utils/security/SecretKeygenEspressoTest.kt
Labels: Issue-Bug, Area-CodeHealth, Area-Test

#3285 Fix CryptUtil behaviour for SDK < 18
  app/src/androidTest/java/com/amaze/filemanager/utils/CryptUtilEspressoTest.kt
  app/src/main/java/com/amaze/filemanager/filesystem/files/CryptUtil.java
Labels: Issue-Bug, Area-CodeHealth, Area-Cryptography

#3289 Fix CryptUtilEspressoTest and UtilsHandlerTests failures on new Androids
  app/src/androidTest/java/com/amaze/filemanager/database/UtilsHandlerTest.java
  app/src/androidTest/java/com/amaze/filemanager/utils/CryptUtilEspressoTest.kt
Labels: Issue-Bug, Area-CICD, Area-CodeHealth, Area-Test
